body {
    font-family: monospace;
    color: #cccccc;
}

.container {
    height: calc(100vh - 16px);
    display: flex;
    flex: 1;
}

.login-button {
    border: 2px solid #1e1e1e;
    border-radius: 50px;
    font-size: 16px;
    color: #1e1e1e;
    transition: all 0.5s;
    padding: 0 25px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: fit-content;
    max-width: fit-content;
}

.login-button:hover {
    cursor: pointer;
    background-color: #1e1e1e;
    color: white;
}

.terminal {
    background-color: #1e1e1e;
    border-radius: 10px;
    transform: rotateY(90deg);
    transition: all 0.5s;
    flex: 1;
}

.content {
    padding: 5px;
    font-size: 16px;
    max-width: 50%;
}

.content p {
    margin: 8px 0;
    font-size: 16px;
}

.text-primary {
    color: green;
}

.header {
    background-color: #3f3f40;
    border-radius: 10px 10px 0 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-title {
    color: #b1b2b3;
    margin: 0;
    font-size: 14px;
}

.header-buttons {
    position: absolute;
    left: 20px;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.header-button {
    border-radius: 10px;
    padding: 0 3.5px;
    margin-right: 8px;
    font-size: 12px;
}

.header-button:hover {
    cursor: pointer;
}

.header-button:hover .header-button-content {
    opacity: 100;
}

.header-button-content {
    opacity: 0;
    margin: 0;
    color: #1e1e1e;
}

.button-red {
    background-color: #ff5f57;
}

.button-yellow {
    background-color: #ffbd2e;
}

.button-green {
    background-color: #28ca41;
}

.picture-container {
    position: absolute;
    transform: scale(1.2);
    transition: all 0.5s;
    right: 50px;
    bottom: 45px;
}

.picture {
    width: 250px;
    transition: all 0.5s;
}

.footer {
    display: flex;

    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 300px);
}

.footer a {
    color: #b1b2b3;
    margin-right: 20px;
}

.footer a:hover {
    color: #ffffff;
    transition: ease-in-out 0.2s;
    transform: scale(1.2);
}

.about-me {
    display: inline-block;
    border: 1px dashed;
    position: absolute;
    right: 10px;
    top: 45px;
    width: 40%;
    font-size: 16px;
    text-align: justify;
}

.about-me-title {
    border-bottom: 1px dashed;
    border-color: #cccccc;
    padding: 5px 10px;
}
.about-me-content {
    max-width: 100%;
    padding: 5px 10px;
    overflow: hidden;
    /*width: 0;*/
    /*animation: typing;*/
    /*animation-duration: 1.5s;*/
    /*animation-timing-function: steps(30, end);*/
    /*animation-fill-mode: forwards;*/
}

.skills {
    border: 1px dashed;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top: 15px;
    max-width: 400px;
    margin-left: 20px;
}

.skills-bullet {
    position: absolute;
    left: 5px;
    margin-top: 3px;
}

.skills-title {
    border-bottom: 1px dashed;
    border-color: #cccccc;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
}

.skills-content {
    display: flex;
    justify-content: space-evenly;
    row-gap: 30px;
    column-gap: 30px;
    flex-wrap: wrap;
    padding: 5px 10px;
    width: 100%;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-image {
    width: 33.33px;
    height: 33.33px;
    color: red;
}

.skill p {
    margin: 0;
    font-size: 12px;
}

.copy-right {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
}

.resume-container {
    position: absolute;
    right: 43%;
    top: 150px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
    transform: scale(1.5);
}

.resume-container:hover {
    color: white
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
